.explore-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}

.explore-btn:hover > .explore-btn-text,
.explore-btn:hover {
  background-color: black;
  color: #fff;
  cursor: pointer;
}
