a {
  text-decoration: none;
  color: gray;
}

.learnContainer {
  max-width: 1100px;
  margin: auto;
  width: 100%;
}

.courseCard {
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.profile-icon {
  --button-size: 50px;
  width: var(--button-size);
  height: var(--button-size);
  background-color: #484a4d;
  border-radius: 50%;
  padding: 15px;
  margin: 2px;
  color: #fff;
}
